#box
{
   
}
 #font1
 {
   font-family: "Raleway", sans-serif;
   
 }
 
 #img_gitam
 {
    
    padding-left:80px;
 }
 
 h1, h2, h3, h4, h5, h6 {
   font-family: "Raleway", sans-serif;
 }
 
 
 
 

 
